@model RednitDev.Models.Comment
<div class="post-detail-comment">
    <div class=@("post-comment" + (Model.Id == ViewBag.CurrentCommentId ? "selected" : ""))>
        <div class="comment-top-section">
            <button class="post-user-image-container">
                <img class="post-user-image"
                    src="https://citalks.com/_next/image?url=https%3A%2F%2Fd7t122vj03qui.cloudfront.net%2Fimages%2Fhost_images%2F2023%2F11%2F6551c79ade496.jpeg&w=640&q=75"
                    alt="profile image">
            </button>
            <div>
                <p class="post-detail-username">@Model.User.Account.Username</p>
                <p class="post-comment-time">@Model.Date</p>
            </div>
        </div>
        <div class="comment-detail-section">
            @Model.Content
        </div>
        @* @if (Model.Reply == null)
        {
            <button class="comment-reply-button" onclick="onReplyButtonClick(@Model.Id)">
                Reply
            </button>
        } *@
    </div>
    @if (@Model.Reply != null)
    {
        <div class="post-comment-reply">
            <div class="comment-top-section">
                <button class="post-user-image-container">
                    <img class="post-user-image"
                        src="https://citalks.com/_next/image?url=https%3A%2F%2Fd7t122vj03qui.cloudfront.net%2Fimages%2Fhost_images%2F2023%2F11%2F6551c79ade496.jpeg&w=640&q=75"
                        alt="profile image">
                </button>
                <div>
                    <p class="post-detail-username">Anntonia</p>
                    <p class="post-comment-time">5 days ago</p>
                </div>
            </div>
            @* <div class="comment-detail-section">
                @Model.Reply.Content
            </div> *@
        </div>
    }
</div>

<script>
    function onReplyButtonClick(commentID) {
        console.log(commentID);
        // Make AJAX request to the controller action
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '@Url.Action("SetCommentID", "Discover")?id=' + commentID);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Request was successful
                console.log('Data set successfully.');
            } else {
                // Request failed
                console.error('Failed to set data.');
            }
        };
        xhr.send();

    }
</script>