@{
    ViewData["Title"] = "Notification";
    Layout = "_LayoutNoti";
}
<link href="~/css/page/Noti.css" rel="stylesheet" />
<h1>Notifications</h1>

@foreach(ShowNoti noti in ViewBag.noti)
{
    <h1>@noti.Header </h1>
    <h1>@noti.Type </h1>
    <h1>@noti.Text </h1>
    <h1>@noti.IdPost</h1>
    
}
@foreach(ShowRequestedNoti noti in ViewBag.requestedNoti)
{
    <h1>@noti.Header </h1>
    <h1>@noti.Type </h1>
    <h1>@noti.IdPost</h1>
    <img src=@noti.Img>
}